<h1>CONTACT and LINKS </h1><br>

<div class="right-column-layout">

 	   <div class="left-column">
<h2> Other Places to Find BAPHY</h2><br>
<ul>

<li><a href="https://bsky.app/profile/baphypaws.bsky.social"> Bluesky </a>
<li><a href="https://ko-fi.com/baphypaws"> Ko-Fi </a>
<li><a href="https://www.furaffinity.net/gallery/baphypaws/"> FurAffinity </a>
<li><a href="https://baphypaws.itch.io/"> itch.io </a>
<li><a href="https://e621.net/posts?tags=baphypaws"> e621 </a></li>
<li><a href="https://bbooru.com/index.php?page=post&s=list&tags=baphypaws"> BBooru </a></li>

  	  <div class="right-column">
<h2> Say hi! </h2><br>
<ul>
<li><a href="mailto:baphypaws@gmail.com> email </a></li>
<li> Discord : baphypaws </li>
</ul>

</div>
</div>
</div>



